body{
    
    background: #e8e8e8;
}

.title {
    text-align: left; 
    font-size: 30px; 
    font-family: Arial, sans-serif; 
    padding-right: 20px;
}
.menu ul {
    list-style: none;
    padding: 0px;
    background-color:  #092327;
    text-align: center;
    
}

.menu ul li {
    display: inline-block;
    margin-right: 100px;
    
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 50px;
    display: block;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul li ul {
    display: none;
    position: absolute;
    background-color: #1005aa;
}

.menu ul li ul li {
    display: block;
}

menu ul li ul li a {
    color: #eb5757;
    padding: 10px 20px;
    display: block;
}

Estilos para el efecto desplegable
.submenu:hover ul {
    display: block;
}

.menu li a:hover{
    background: #0c6c8a;
}




/* barra de busqueda */

.search-container {
    position: absolute; 
    top: 20px; 
    right: 20px; 
}


#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}


#search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#search-button:hover {
    background-color: #45a049;
}

/* Cuerpo */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
}

.text {
    flex: 1;
    padding-right: 20px;
    text-align: justify; 
}

.text h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 30px;
}

.image {
    flex: 1;
    text-align: right;
    margin-left: 20px; 

}

.image img {
    max-width: 100%;
    height: auto;
    margin-left: auto; 
}

.image img.custom-size {
    width: 600px; 
    height: 275px; 
}

.image img.custom-size {
    width: 600px; 
    height: 275px; 
}

/* Pie de página  */

.bottom-rectangle {
    background-color: #092327; 
    height: 70px; 
    width: 100%; 
    bottom: 0; 
}